.services {
  position: relative;

  // &::before {
  //   content: "";
  //   position: absolute;
  //   left: 12%;
  //   bottom: -9%;
  //   width: 279px;
  //   height: 252px;
  //   background-image: url("../img/sprite.svg#hexan");
  //   background-position: bottom;
  //   background-size: cover;
  //   background-repeat: no-repeat;
  // }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    margin-bottom: rem(69);
    gap: clamp(20px, 3.25rem, 60px);

    @include for-width (-mobile-l) {
      gap: 20px;
    }
  }

  &__item {
    @include bg-cover;

    &:last-child {
      @include for-width (-tablet) {
        grid-column: 1/3;
      }

      @include for-width (-mobile-l) {
        grid-column: 1;
      }
    }
  }

  .show-more {
    width: 100%;
    max-width: 419px;
  }

  .content {
    gap: 50px;
  }
}
