:root {
  --font-family: "Raleway", sans-serif;
  --content-width: 1440px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --color-black: #050910;
  --color-bunker: #0b0d12;
  --color-white: #fff;
  --color-gray: #909090;
  --color-blue: #00aed5;
  --color-active: #00829e;
  --br-r: 10px;
}

/*
._example {
  @include for-width(-desktop) {
    opacity: 0.5;
  };
}
*/
/*
._example {
  @include for-height(-desktop) {
    opacity: 0.5;
  };
}
*/
/* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable-next-line at-rule-blacklist */
@font-face {
  font-family: "Raleway";
  src: url("../fonts/../fonts/Raleway-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/../fonts/Raleway-Black.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
.page {
  min-height: 100vh;
  font-family: var(--font-family);
  font-weight: 500;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
  font-feature-settings: "pnum" on, "lnum" on;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  color: var(--color-white);
  background-color: var(--color-black);
  scroll-behavior: smooth;
  overscroll-behavior-y: none;
}
.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
}

.site-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  width: 100%;
  max-width: var(--container-width);
}

section {
  margin-bottom: 11.875rem;
}
@media (max-width: calc(75em - 0.0625em)) {
  section {
    margin-bottom: 6.25rem;
  }
}
@media (max-width: calc(48em - 0.0625em)) {
  section {
    margin-bottom: 3.125rem;
  }
}

.main {
  padding-top: 3.25rem;
}
@media (max-width: calc(62em - 0.0625em)) {
  .main {
    padding-top: 1.875rem;
  }
}

.title {
  font-size: calc(25px + 15 * ((100vw - 320px) / 1280));
  margin: 0 auto 4.375rem;
  font-weight: 900;
  line-height: 1.7;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.07em;
}
.title--second {
  width: 100%;
  max-width: 685px;
}
@media (max-width: calc(62em - 0.0625em)) {
  .title {
    margin: 0 auto 3.125rem;
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border: 1px solid var(--color-white);
  min-height: 240px;
  -webkit-transition: border 0.3s linear;
  -o-transition: border 0.3s linear;
  transition: border 0.3s linear;
}
.card::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.83)), to(rgba(0, 0, 0, 0.83)));
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.83), rgba(0, 0, 0, 0.83));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.83), rgba(0, 0, 0, 0.83));
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
}
.card-title {
  font-size: calc(20px + 5 * ((100vw - 320px) / 1280));
  margin: 0 auto 2.3125rem;
  font-weight: 500;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.06em;
}
.card-title::first-letter {
  text-transform: capitalize;
}
.card-text {
  font-size: calc(14px + 2 * ((100vw - 320px) / 1280));
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 30px;
  -webkit-transition: color 0.3s linear, background-color 0.3s linear;
  -o-transition: color 0.3s linear, background-color 0.3s linear;
  transition: color 0.3s linear, background-color 0.3s linear;
}
.card-text::before {
  content: "";
  position: absolute;
  right: 0;
  -webkit-mask-image: url("../img/sprite.svg#small-arrow");
  mask-image: url("../img/sprite.svg#small-arrow");
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  width: 16px;
  height: 16px;
  background-color: var(--color-white);
  -webkit-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}
.card-link::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 25;
}
.card:hover {
  border: 1px solid var(--color-active);
}
.card:hover .card-title {
  color: var(--color-active);
}
.card:hover .card-text {
  color: var(--color-active);
}
.card:hover .card-text::before {
  background-color: var(--color-active);
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  max-width: 107px;
}

.btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid transparent;
  padding: 1.0625rem 4.6875rem 1.0625rem 3.0625rem;
  line-height: 1.6;
  color: var(--color-white);
  background-color: var(--color-blue);
  -webkit-transition-property: color, background-color, border;
  -o-transition-property: color, background-color, border;
  transition-property: color, background-color, border;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}
.btn::before {
  content: "";
  position: absolute;
  right: 44px;
  -webkit-mask-image: url("../img/sprite.svg#small-arrow");
  mask-image: url("../img/sprite.svg#small-arrow");
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  width: 16px;
  height: 16px;
  background-color: var(--color-white);
}
.btn:focus {
  outline: 2px solid var(--color-blue);
  outline-offset: 2px;
}
.btn:hover {
  border: 1px solid var(--color-white);
}
.btn:active {
  background-color: var(--color-active);
}
@media (max-width: calc(29.6875em - 0.0625em)) {
  .btn {
    padding: 1.0625rem 2.5rem 1.0625rem 1.0625rem;
  }
  .btn::before {
    right: 15px;
  }
}
.btn--second {
  border: 1px solid var(--color-white);
  padding: 1.0625rem 5.25rem 1.0625rem 2.8125rem;
  background-color: transparent;
}
.btn--second::before {
  content: "";
  position: absolute;
  right: 47px;
  -webkit-mask-image: url("../img/sprite.svg#pdf");
  mask-image: url("../img/sprite.svg#pdf");
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  width: 24px;
  height: 24px;
  background-color: var(--color-white);
}
.btn--second:hover {
  border: 1px solid var(--color-active);
  color: var(--color-active);
}
.btn--second:hover::before {
  background-color: var(--color-active);
}
.btn--second:hover:active {
  background-color: transparent;
}
.btn--cursor {
  padding: 1.1875rem 10.1875rem 1.125rem 7.5rem;
}
.btn--cursor::before {
  content: "";
  position: absolute;
  right: 120px;
  -webkit-mask-image: url("../img/sprite.svg#cursor");
  mask-image: url("../img/sprite.svg#cursor");
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  width: 27px;
  height: 27px;
  background-color: var(--color-white);
}
.btn--show-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  border: 1px solid var(--color-white);
  width: 100%;
  max-width: 275px;
  background-color: transparent;
}
.btn--show-more::before {
  content: "";
  position: absolute;
  right: 45px;
  -webkit-mask-image: url("../img/sprite.svg#show-more");
  mask-image: url("../img/sprite.svg#show-more");
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  width: 20px;
  height: 20px;
  background-color: var(--color-white);
}
.btn--telegram {
  border: 1px solid var(--color-white);
  padding: 1.0625rem 5.25rem 1.0625rem 2.8125rem;
  background-color: transparent;
}
.btn--telegram::before {
  content: "";
  position: absolute;
  right: 45px;
  -webkit-mask-image: url("../img/sprite.svg#telegram");
  mask-image: url("../img/sprite.svg#telegram");
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  width: 24px;
  height: 24px;
  background-color: var(--color-white);
}
.btn--telegram:hover {
  border: 1px solid var(--color-active);
  color: var(--color-active);
}
.btn--telegram:hover::before {
  background-color: var(--color-active);
}
.btn--telegram:hover:active {
  background-color: transparent;
}
.btn--instagram {
  border: 1px solid var(--color-white);
  padding: 1.0625rem 5.25rem 1.0625rem 2.8125rem;
  background-color: transparent;
}
.btn--instagram::before {
  content: "";
  position: absolute;
  right: 45px;
  -webkit-mask-image: url("../img/sprite.svg#instagram");
  mask-image: url("../img/sprite.svg#instagram");
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  width: 24px;
  height: 24px;
  background-color: var(--color-white);
}
.btn--instagram:hover {
  border: 1px solid var(--color-active);
  color: var(--color-active);
}
.btn--instagram:hover::before {
  background-color: var(--color-active);
}
.btn--instagram:hover:active {
  background-color: transparent;
}
@media (max-width: calc(29.6875em - 0.0625em)) {
  .btn {
    font-size: calc(12px + 2 * ((100vw - 320px) / 1280));
  }
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
}

.slider-btn {
  position: absolute;
  right: 0;
  top: 57px;
  padding: 0;
  width: 30px;
  height: 30px;
  -webkit-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}
.slider-btn::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  -webkit-mask-image: url("../img/sprite.svg#arrow");
  mask-image: url("../img/sprite.svg#arrow");
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  width: 30px;
  height: 30px;
  background-color: var(--color-white);
}
.slider-btn--reverse {
  right: 60px;
}
.slider-btn--reverse::before {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.slider-btn:hover::before {
  background-color: var(--color-active);
}
@media (max-width: calc(36em - 0.0625em)) {
  .slider-btn {
    display: none;
  }
}

.slider-btn.swiper-button-disabled {
  opacity: 0.4;
  pointer-events: none;
}

.text {
  font-size: calc(14px + 2 * ((100vw - 320px) / 1280));
  margin: 0 auto;
  width: 100%;
  max-width: 685px;
  text-align: center;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (max-width: calc(62em - 0.0625em)) {
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 25px;
  }
}

.show-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 350px;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.burger {
  display: none;
  --burger-width: 30px;
  --burger-height: 30px;
  --burger-line-height: 1px;
  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: var(--color-white);
  background-color: transparent;
  cursor: pointer;
}
.burger::before, .burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger::before {
  top: 0;
}
.burger::after {
  top: calc(100% - var(--burger-line-height));
}
.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::before {
  top: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::after {
  top: 50%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active .burger__line {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
@media (max-width: calc(62em - 0.0625em)) {
  .burger {
    display: block;
  }
}

.dis-scroll {
  /* stylelint-disable-next-line declaration-block-no-duplicate-properties */
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.header {
  position: sticky;
  top: 0;
  z-index: 2;
  margin-bottom: 20px;
  padding: 3.9375rem 0 3.25rem;
  background-color: var(--color-black);
}
@media (max-width: calc(62em - 0.0625em)) {
  .header {
    margin-bottom: 10px;
    padding: 20px 0;
  }
}
.header .logo {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin: 0 auto;
  -webkit-transform: translateY(-41%);
  -ms-transform: translateY(-41%);
  transform: translateY(-41%);
}
@media (max-width: calc(62em - 0.0625em)) {
  .header .logo {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
.header__contact {
  position: absolute;
  right: 10px;
  top: 18px;
  display: none;
}
.header__contact::before {
  content: "";
  position: absolute;
  right: 5px;
  -webkit-mask-image: url("../img/sprite.svg#old-phone");
  mask-image: url("../img/sprite.svg#old-phone");
  -webkit-mask-position: bottom;
  mask-position: bottom;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  width: 35px;
  height: 35px;
  background-color: var(--color-white);
  -webkit-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}
.header__contact:hover::before {
  background-color: var(--color-active);
}
@media (max-width: calc(62em - 0.0625em)) {
  .header__contact {
    display: block;
  }
}

.nav {
  position: relative;
}
@media (max-width: calc(62em - 0.0625em)) {
  .nav {
    position: absolute;
    left: 0;
    top: var(--header-height);
    overflow-y: auto;
    padding: 1.5625rem;
    width: 100%;
    height: calc(100vh - var(--header-height));
    background-color: var(--color-black);
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: translate 0.3s linear;
    -o-transition: translate 0.3s linear;
    transition: translate 0.3s linear;
  }
  .nav.menu--active {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
  }
  .nav .nav__item {
    margin: 0;
    margin-bottom: 30px;
  }
  .nav .nav__item--location {
    position: relative;
    bottom: 0;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .nav .nav__item--phone {
    position: relative;
    bottom: 0;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: calc(62em - 0.0625em)) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}
.nav__list--dropdown {
  position: absolute;
  top: 100%;
  z-index: 60;
  display: block;
  border: 1px solid var(--color-active);
  padding: 20px;
  width: 200px;
  height: auto;
  background-color: var(--color-black);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s linear, visibility 0.3s linear;
  -o-transition: opacity 0.3s linear, visibility 0.3s linear;
  transition: opacity 0.3s linear, visibility 0.3s linear;
}
.nav__list--dropdown .nav__item {
  margin: 0;
  padding: 10px 0;
}
.nav__list--dropdown.open {
  opacity: 1;
  visibility: visible;
}
.nav__item {
  position: relative;
  margin-right: 3.8125rem;
}
.nav__item--location {
  position: absolute;
  bottom: -55px;
  margin: 0;
}
.nav__item--phone {
  position: absolute;
  right: 0;
  bottom: -55px;
  margin: 0;
}
@media (max-width: calc(62em - 0.0625em)) {
  .nav__item--phone {
    display: none;
  }
}
.nav__item:nth-child(4) {
  margin-right: auto;
}
.nav__item:nth-child(n+7) {
  margin-right: 0;
}
.nav__item:hover .nav__list--dropdown {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
@media (max-width: calc(75em - 0.0625em)) {
  .nav__item {
    margin-right: 1.9375rem;
  }
}
@media (max-width: calc(75em - 0.0625em)) {
  .nav__item {
    margin-right: 1.25rem;
  }
}
.nav__link {
  position: relative;
  display: inline-block;
  -webkit-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
.nav__link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: currentcolor;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  -o-transition: transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}
.nav__link:focus {
  outline: 2px solid var(--color-active);
  outline-offset: 2px;
}
.nav__link:hover {
  color: var(--color-blue);
}
.nav__link:hover::before {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.nav__link:active {
  color: var(--color-active);
}
.nav__link--dropdown {
  cursor: pointer;
}
.nav__link--dropdown::before {
  content: none;
}
.nav__link--dropdown svg {
  margin-left: 12px;
  width: 10px;
  height: 15px;
  fill: currentColor;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  -o-transition: transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}
.nav__link--dropdown:hover svg {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.news {
  position: relative;
}
.news::before {
  content: "";
  position: absolute;
  left: 12%;
  top: -9%;
  width: 338px;
  height: 338px;
  background-image: url("../img/sprite.svg#hexan");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: calc(62em - 0.0625em)) {
  .news::before {
    width: 238px;
    height: 238px;
  }
}
.news::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -15%;
  width: 392px;
  height: 392px;
  background-image: url("../img/sprite.svg#hexan");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
@media (max-width: calc(62em - 0.0625em)) {
  .news::after {
    width: 238px;
    height: 238px;
  }
}
.news__list {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 4.375rem;
  gap: clamp(20px, 3.125rem, 55px);
}
@media (max-width: calc(62em - 0.0625em)) {
  .news__list {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (auto)[2];
    grid-template-rows: repeat(2, auto);
  }
}
@media (max-width: calc(48em - 0.0625em)) {
  .news__list {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[3];
    grid-template-rows: repeat(3, 1fr);
  }
}
@media (max-width: calc(62em - 0.0625em)) {
  .news__item:last-child {
    -ms-grid-column-span: 2;
    grid-column: 2 span;
  }
}
@media (max-width: calc(48em - 0.0625em)) {
  .news__item:last-child {
    grid-column: auto;
  }
}
.news__more {
  margin: 0 auto;
  width: 100%;
  max-width: 332px;
}

.news-slider {
  overflow: hidden;
}
.news-slider__list {
  margin-bottom: 4.5rem;
}

.hero {
  position: relative;
  padding-top: 3.25rem;
}
.hero::before {
  content: "";
  position: absolute;
  left: 0.9375rem;
  top: -47%;
  z-index: -2;
  width: 704px;
  height: 700px;
  background-image: url("../img/sprite.svg#hexan");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: calc(75em - 0.0625em)) {
  .hero::before {
    top: 10%;
    width: 304px;
    height: 300px;
  }
}
@media (max-width: calc(48em - 0.0625em)) {
  .hero::before {
    top: 0;
    width: 230px;
    height: 230px;
  }
}
.hero::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -25%;
  z-index: -2;
  width: 243px;
  height: 249px;
  background-image: url("../img/sprite.svg#hexan");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.hero__title {
  font-size: calc(24px + 26 * ((100vw - 320px) / 1280));
  margin-bottom: 1.9375rem;
  width: 100%;
  max-width: 1040px;
}
.hero__text {
  margin: 0 auto 3.25rem;
}
.hero__content {
  position: relative;
  text-align: center;
  gap: 3.125rem;
}
@media (max-width: calc(62em - 0.0625em)) {
  .hero__content {
    gap: 1.5625rem;
  }
}
.hero__link {
  position: absolute;
  right: 0;
  bottom: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 1px solid var(--color-white);
  padding: 0.9375rem 1.875rem;
  width: 84px;
  height: 54px;
  -webkit-transition: border 0.3s linear;
  -o-transition: border 0.3s linear;
  transition: border 0.3s linear;
}
.hero__link::before {
  content: "";
  position: absolute;
  -webkit-mask-image: url("../img/sprite.svg#chats");
  mask-image: url("../img/sprite.svg#chats");
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  width: 24px;
  height: 24px;
  background-color: var(--color-white);
  -webkit-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}
.hero__link:hover {
  border: 1px solid var(--color-blue);
}
.hero__link:hover::before {
  background-color: var(--color-blue);
}
.hero__link:active {
  border: 1px solid var(--color-active);
}
.hero__link:active::before {
  background-color: var(--color-active);
}
@media (max-width: calc(62em - 0.0625em)) {
  .hero__link {
    position: relative;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
}
@media (max-width: calc(62em - 0.0625em)) {
  .hero {
    padding-top: 1.5625rem;
  }
}

.advantages {
  position: relative;
}
.advantages::before {
  content: "";
  position: absolute;
  left: 6%;
  bottom: 2%;
  z-index: -2;
  width: 86px;
  height: 86px;
  background-image: url("../img/sprite.svg#chemical");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
.advantages::after {
  content: "";
  position: absolute;
  right: 4%;
  bottom: 2%;
  z-index: -2;
  width: 93px;
  height: 105px;
  background-image: url("../img/sprite.svg#small-hexan");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
.advantages__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 4.375rem;
  gap: clamp(20px, 3.1875rem, 60px);
}
@media (max-width: calc(90em - 0.0625em)) {
  .advantages__list {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    gap: clamp(20px, 1.1875rem, 30px);
  }
}
@media (max-width: calc(36em - 0.0625em)) {
  .advantages__list {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}
.advantages__item {
  position: relative;
  border: 1px solid var(--color-white);
  padding: clamp(20px, 3.125rem, 60px);
  text-align: center;
  -webkit-transition-property: border, -webkit-box-shadow;
  transition-property: border, -webkit-box-shadow;
  -o-transition-property: box-shadow, border;
  transition-property: box-shadow, border;
  transition-property: box-shadow, border, -webkit-box-shadow;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}
.advantages__item:hover {
  border: 1px solid var(--color-active);
  -webkit-box-shadow: 12px 12px 25px var(--color-active) inset;
  box-shadow: 12px 12px 25px var(--color-active) inset;
}
.advantages__numbers {
  font-size: calc(60px + 40 * ((100vw - 320px) / 1280));
  display: inline-block;
  margin-bottom: 1.625rem;
  font-weight: 900;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
  font-feature-settings: "pnum" on, "lnum" on;
  line-height: 1;
  color: var(--color-blue);
}

.dentures {
  position: relative;
}
.dentures::before {
  content: "";
  position: absolute;
  left: 10%;
  top: -10%;
  z-index: -2;
  width: 309px;
  height: 309px;
  background-image: url("../img/sprite.svg#hexan");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: calc(48em - 0.0625em)) {
  .dentures::before {
    top: 0;
    width: 230px;
    height: 230px;
  }
}
.dentures__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 4.375rem;
}
@media (max-width: calc(62em - 0.0625em)) {
  .dentures__list {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    gap: 2.5rem;
  }
}
@media (max-width: calc(75em - 0.0625em)) {
  .dentures__item {
    text-align: center;
  }
}
.dentures__box {
  margin-bottom: 1.5rem;
}
.dentures__title {
  font-size: calc(20px + 6 * ((100vw - 320px) / 1280));
  margin: 0 auto 1.8125rem;
  font-weight: 500;
  text-align: center;
}
.dentures__link {
  text-decoration: underline;
  -webkit-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
.dentures__link:hover {
  color: var(--color-active);
}

.implantation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin-bottom: 7.5rem;
}
.implantation::before {
  content: "";
  position: absolute;
  left: 10%;
  top: -10%;
  z-index: -2;
  width: 309px;
  height: 309px;
  background-image: url("../img/sprite.svg#hexan");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: calc(48em - 0.0625em)) {
  .implantation::before {
    top: 0;
    width: 230px;
    height: 230px;
  }
}
.implantation .title--second {
  margin-bottom: 1.875rem;
}
.implantation__text {
  margin-bottom: 1.875rem;
}
@media (max-width: calc(75em - 0.0625em)) {
  .implantation {
    margin-bottom: 6.25rem;
  }
}
@media (max-width: calc(48em - 0.0625em)) {
  .implantation {
    margin-bottom: 1.875rem;
  }
}

.cad-cam {
  position: relative;
  text-align: center;
}
.cad-cam::before {
  content: "";
  position: absolute;
  left: 10%;
  top: -10%;
  z-index: -2;
  width: 309px;
  height: 309px;
  background-image: url("../img/sprite.svg#hexan");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: calc(48em - 0.0625em)) {
  .cad-cam::before {
    top: 0;
    width: 230px;
    height: 230px;
  }
}
.cad-cam .title--second {
  margin-bottom: 1.875rem;
}
.cad-cam__text {
  margin-bottom: 1.375rem;
  text-align: left;
}
.cad-cam__text p:not(:last-child) {
  margin-bottom: 2rem;
}
.cad-cam__box {
  display: inline-block;
}

.price {
  position: relative;
  margin-bottom: 11.875rem;
}
.price::before {
  content: "";
  position: absolute;
  left: 10%;
  top: -10%;
  z-index: -2;
  width: 309px;
  height: 309px;
  background-image: url("../img/sprite.svg#hexan");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: calc(48em - 0.0625em)) {
  .price::before {
    top: 0;
    width: 230px;
    height: 230px;
  }
}
.price .title {
  margin-bottom: 1.875rem;
}
.price .text {
  margin-bottom: 4.375rem;
  max-width: 635px;
}
.price .content {
  gap: 50px;
}
@media (max-width: calc(75em - 0.0625em)) {
  .price {
    margin-bottom: 6.25rem;
  }
}
@media (max-width: calc(48em - 0.0625em)) {
  .price {
    margin-bottom: 3.125rem;
  }
}

.gallery {
  position: relative;
}
.gallery::before {
  content: "";
  position: absolute;
  right: 5%;
  bottom: 6%;
  width: 138px;
  height: 135px;
  background-image: url("../img/sprite.svg#chemical");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: calc(75em - 0.0625em)) {
  .gallery::before {
    bottom: -2%;
  }
}
.gallery__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 4.125rem;
  gap: 10px;
}
.gallery__list--dentures {
  gap: 5px 10px;
}
.gallery__list--main {
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[3];
  grid-template-rows: repeat(3, 1fr);
  margin-bottom: 4.375rem;
  gap: 5px 10px;
}
@media (max-width: calc(62em - 0.0625em)) {
  .gallery__list {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media (max-width: calc(48em - 0.0625em)) {
  .gallery__list {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 1.875rem;
    gap: 10px;
  }
}
.gallery__item {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  cursor: pointer;
}
.gallery__item:hover {
  -webkit-transform: scale(0.97);
  -ms-transform: scale(0.97);
  transform: scale(0.97);
}
.gallery__item:nth-child(n+13) {
  display: none;
}
.gallery__item.is-visible {
  display: block;
}
.gallery__more {
  width: 100%;
  max-width: 350px;
}
.gallery .btn {
  margin: 0 auto;
}

.about {
  position: relative;
  margin-bottom: 4.375rem;
}
.about::before {
  content: "";
  position: absolute;
  right: 10%;
  top: -30%;
  z-index: -2;
  width: 360px;
  height: 360px;
  background-image: url("../img/sprite.svg#hexan");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: calc(62em - 0.0625em)) {
  .about::before {
    top: -10%;
    width: 200px;
    height: 200px;
  }
}
.about__title {
  margin-bottom: 1.875rem;
}

.production {
  position: relative;
}
.production::before {
  content: "";
  position: absolute;
  left: 10%;
  top: -2%;
  z-index: -2;
  width: 420px;
  height: 420px;
  background-image: url("../img/sprite.svg#hexan");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: calc(48em - 0.0625em)) {
  .production::before {
    top: -1%;
    width: 220px;
    height: 220px;
  }
}
.production .title {
  margin-bottom: 1.875rem;
}
.production__list {
  text-align: left;
}
@media (max-width: calc(48em - 0.0625em)) {
  .production__list {
    text-align: center;
  }
}
.production__item:not(:last-child) {
  margin-bottom: 2.125rem;
}

.investors {
  margin-bottom: 4.375rem;
}
.investors .title {
  margin-bottom: 1.875rem;
}
@media (max-width: calc(48em - 0.0625em)) {
  .investors {
    margin-bottom: 3.125rem;
  }
}

.profit {
  margin-bottom: 11.875rem;
}
.profit__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4.375rem;
}
.profit .text {
  text-align: left;
}
@media (max-width: calc(75em - 0.0625em)) {
  .profit {
    margin-bottom: 6.25rem;
  }
}
@media (max-width: calc(48em - 0.0625em)) {
  .profit {
    margin-bottom: 3.125rem;
  }
}

.messengers {
  margin-bottom: 11.875rem;
}
.messengers .title {
  width: 100%;
  max-width: 760px;
}
.messengers .content {
  gap: 3.125rem;
}
@media (max-width: calc(75em - 0.0625em)) {
  .messengers {
    margin-bottom: 6.25rem;
  }
}
@media (max-width: calc(48em - 0.0625em)) {
  .messengers {
    margin-bottom: 3.125rem;
  }
}

.maps {
  min-height: 600px;
}

.error {
  padding-top: 3.125rem;
}
.error .nav__logo {
  margin-bottom: 5.3125rem;
}
.error__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto 4.375rem;
}
@media (max-width: calc(48em - 0.0625em)) {
  .error__content {
    margin: 0 auto 2.5rem;
  }
}
.error__span {
  font-size: calc(140px + 160 * ((100vw - 320px) / 1280));
  display: inline-block;
  font-weight: 900;
  line-height: 1;
}
.error__img {
  margin: 0 5.0625rem;
  width: 228px;
  height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: calc(48em - 0.0625em)) {
  .error__img {
    margin: 0 2.5rem;
  }
}
@media (max-width: calc(29.6875em - 0.0625em)) {
  .error__img {
    margin: 0 1.25rem;
  }
}
.error__title {
  margin: 0 auto 4.375rem;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}
.error .content {
  padding-bottom: 5rem;
  gap: 50px;
}
.error .btn--cursor {
  border: 1px solid var(--color-white);
  background-color: transparent;
}

.stages {
  position: relative;
  margin-bottom: 11.875rem;
}
.stages::before {
  content: "";
  position: absolute;
  left: 10%;
  top: -20%;
  z-index: -2;
  width: 220px;
  height: 220px;
  background-image: url("../img/sprite.svg#hexan");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: calc(48em - 0.0625em)) {
  .stages::before {
    top: -1%;
  }
}
.stages__title {
  font-size: calc(20px + 5 * ((100vw - 320px) / 1280));
  margin-bottom: 1.875rem;
  font-weight: 500;
}
.stages__list {
  counter-reset: li;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: clamp(20px, 3.25rem, 60px);
}
@media (max-width: calc(90em - 0.0625em)) {
  .stages__list {
    text-align: center;
    gap: 1.875rem;
  }
}
@media (max-width: calc(62em - 0.0625em)) {
  .stages__list {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (auto)[2];
    grid-template-rows: repeat(2, auto);
    gap: 20px;
  }
}
@media (max-width: calc(48em - 0.0625em)) {
  .stages__list {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[3];
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
  }
}
.stages__list--implantation {
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: calc(48em - 0.0625em)) {
  .stages__list--implantation {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[3];
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
  }
}
.stages__list--cad {
  gap: 4.375rem 3.125rem;
}
@media (max-width: calc(90em - 0.0625em)) {
  .stages__list--cad {
    text-align: center;
    gap: 1.875rem;
  }
}
@media (max-width: calc(62em - 0.0625em)) {
  .stages__list--cad .stages__item:last-child {
    grid-column: auto;
  }
}
.stages__item {
  position: relative;
  border: 1px solid var(--color-white);
  padding: 30px 30px 35px;
  letter-spacing: 0.038em;
  -webkit-transition-property: border, -webkit-box-shadow;
  transition-property: border, -webkit-box-shadow;
  -o-transition-property: box-shadow, border;
  transition-property: box-shadow, border;
  transition-property: box-shadow, border, -webkit-box-shadow;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}
.stages__item::before {
  font-size: calc(50px + 50 * ((100vw - 320px) / 1280));
  counter-increment: li;
  content: counter(li, decimal-leading-zero);
  font-weight: 900;
  line-height: 1;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: var(--color-blue);
}
.stages__item:hover {
  border: 1px solid var(--color-active);
  -webkit-box-shadow: 12px 12px 25px var(--color-active) inset;
  box-shadow: 12px 12px 25px var(--color-active) inset;
}
@media (max-width: calc(90em - 0.0625em)) {
  .stages__item {
    padding: 20px 20px 25px;
  }
}
@media (max-width: calc(62em - 0.0625em)) {
  .stages__item:last-child {
    -ms-grid-column-span: 2;
    grid-column: 2 span;
  }
}
@media (max-width: calc(48em - 0.0625em)) {
  .stages__item:last-child {
    grid-column: auto;
  }
}
.stages__item--implantation {
  padding: 28px 52px;
  letter-spacing: 0.06em;
}
@media (max-width: calc(62em - 0.0625em)) {
  .stages__item--implantation {
    padding: 20px 42px;
  }
}
@media (max-width: calc(62em - 0.0625em)) {
  .stages__item--implantation:last-child {
    grid-column: auto;
  }
}
.stages__numbers {
  font-size: calc(45px + 35 * ((100vw - 320px) / 1280));
  display: inline-block;
  margin-bottom: 2.0625rem;
  font-weight: 900;
  line-height: 1;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: var(--color-blue);
}
.stages__link {
  text-decoration: underline;
}
@media (max-width: calc(75em - 0.0625em)) {
  .stages {
    margin-bottom: 6.25rem;
  }
}
@media (max-width: calc(48em - 0.0625em)) {
  .stages {
    margin-bottom: 1.875rem;
  }
}

.services {
  position: relative;
}
.services::before {
  content: "";
  position: absolute;
  left: 12%;
  bottom: -50%;
  z-index: -2;
  width: 280px;
  height: 280px;
  background-image: url("../img/sprite.svg#hexan");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: calc(75em - 0.0625em)) {
  .services::before {
    bottom: -35%;
  }
}
@media (max-width: calc(62em - 0.0625em)) {
  .services::before {
    bottom: -15%;
  }
}
.services__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 4.3125rem;
  gap: clamp(20px, 3.25rem, 60px);
}
@media (max-width: calc(62em - 0.0625em)) {
  .services__list {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (auto)[2];
    grid-template-rows: repeat(2, auto);
    gap: 20px;
  }
}
@media (max-width: calc(48em - 0.0625em)) {
  .services__list {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[3];
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
  }
}
.services__item {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: calc(62em - 0.0625em)) {
  .services__item:last-child {
    -ms-grid-column-span: 2;
    grid-column: 2 span;
  }
}
@media (max-width: calc(48em - 0.0625em)) {
  .services__item:last-child {
    grid-column: auto;
  }
}
.services__more {
  margin: 0 auto;
  width: 100%;
  max-width: 420px;
}
@media (max-width: calc(23.375em - 0.0625em)) {
  .services__more {
    max-width: 320px;
  }
}
.services .content {
  gap: 50px;
}

.reviews {
  position: relative;
}
.reviews__more {
  margin: 0 auto;
  width: 100%;
  max-width: 331px;
}

.reviews-slider {
  overflow: hidden;
  margin-bottom: 4.375rem;
  border: 1px solid var(--color-white);
  padding: 4.3125rem 0;
}
.reviews-slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  height: 300px;
}
@media (max-width: calc(75em - 0.0625em)) {
  .reviews-slider__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    gap: 35px;
  }
}
.reviews-slider__inner {
  position: relative;
  padding-top: 6.5625rem;
  width: 100%;
  max-width: 704px;
}
.reviews-slider__inner::before {
  content: "";
  position: absolute;
  top: 0;
  -webkit-mask-image: url("../img/sprite.svg#quotes");
  mask-image: url("../img/sprite.svg#quotes");
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  width: 40px;
  height: 40px;
  background-color: var(--color-blue);
}
@media (max-width: calc(75em - 0.0625em)) {
  .reviews-slider__inner::before {
    left: 0;
  }
}
@media (max-width: calc(75em - 0.0625em)) {
  .reviews-slider__inner {
    padding-top: 3.4375rem;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    text-align: center;
  }
}
.reviews-slider__blockquote {
  min-height: 170px;
}
.reviews-slider__author {
  font-size: 14px;
  color: var(--color-blue);
}
@media (max-width: calc(75em - 0.0625em)) {
  .reviews-slider {
    margin-bottom: 1.875rem;
    border: none;
    padding: 1.875rem 0;
  }
}

.article {
  position: relative;
  border: 1px solid var(--color-white);
  -webkit-transition: border 0.3s linear;
  -o-transition: border 0.3s linear;
  transition: border 0.3s linear;
  cursor: pointer;
}
.article:hover {
  border: 1px solid var(--color-blue);
}
.article:hover .article__title {
  color: var(--color-blue);
}
.article__content {
  padding: 2.0625rem 3.1875rem 3.0625rem;
}
@media (max-width: calc(75em - 0.0625em)) {
  .article__content {
    padding: 1.4375rem 1.875rem 1.25rem;
  }
}
.article__title {
  font-size: calc(20px + 5 * ((100vw - 320px) / 1280));
  margin: 0 auto 2.3125rem;
  font-weight: 500;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.06em;
  margin-bottom: 14px;
  -webkit-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
.article__title::first-letter {
  text-transform: capitalize;
}
.article__link::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 25;
}
.article__timeline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.article__text {
  margin-bottom: 1.75rem;
  width: 100%;
  max-width: 345px;
}
.article__time {
  margin-right: auto;
  font-size: 14px;
  color: var(--color-grey);
}
.article__more {
  padding-right: 30px;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: color 0.3s linear, background-color 0.3s linear;
  -o-transition: color 0.3s linear, background-color 0.3s linear;
  transition: color 0.3s linear, background-color 0.3s linear;
}
.article__more::before {
  content: "";
  position: absolute;
  right: 0;
  -webkit-mask-image: url("../img/sprite.svg#small-arrow");
  mask-image: url("../img/sprite.svg#small-arrow");
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  width: 16px;
  height: 16px;
  background-color: var(--color-white);
  -webkit-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}

.pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.pagination__item {
  border: 1px solid var(--color-white);
}
.pagination__item:not(:last-child) {
  margin-right: 20px;
}
.pagination__item:nth-child(4n) {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  border: none;
  font-size: 30px;
}
.pagination__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}
.pagination__link--active {
  background-color: var(--color-active);
}

.contacts {
  position: relative;
}
.contacts::before {
  content: "";
  position: absolute;
  left: 9%;
  bottom: 1%;
  width: 307px;
  height: 307px;
  background-image: url("../img/sprite.svg#hexan");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
.contacts__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: calc(90em - 0.0625em)) {
  .contacts__inner {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}
@media (max-width: calc(62em - 0.0625em)) {
  .contacts__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 3.125rem;
  }
}

.contacts-form {
  width: 100%;
  max-width: 485px;
}
.contacts-form__title {
  font-size: calc(20px + 6 * ((100vw - 320px) / 1280));
  margin-bottom: 3.0625rem;
  font-weight: 500;
}
@media (max-width: calc(62em - 0.0625em)) {
  .contacts-form__title {
    text-align: center;
  }
}

.address__title {
  font-size: calc(20px + 6 * ((100vw - 320px) / 1280));
  margin-bottom: 3.0625rem;
  font-weight: 500;
}
@media (max-width: calc(62em - 0.0625em)) {
  .address__title {
    text-align: center;
  }
}
.address__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.address__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
  grid-template-columns: repeat(4, auto);
  gap: clamp(20px, 3.125rem, 60px);
}
@media (max-width: calc(90em - 0.0625em)) {
  .address__list {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: calc(62em - 0.0625em)) {
  .address__list {
    -ms-grid-columns: (auto)[4];
    grid-template-columns: repeat(4, auto);
    gap: clamp(10px, 2.125rem, 40px);
  }
}
@media (max-width: calc(48em - 0.0625em)) {
  .address__list {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}
@media (max-width: calc(29.6875em - 0.0625em)) {
  .address__list {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }
}
.address__item {
  position: relative;
  font-size: 14px;
}
.address__item::before {
  content: "";
  position: absolute;
  left: 0;
  -webkit-mask-image: url("../img/sprite.svg#email");
  mask-image: url("../img/sprite.svg#email");
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  width: 24px;
  height: 24px;
  background-color: var(--color-blue);
}
.address__item span:not([class]) {
  display: inline-block;
  margin-bottom: 12px;
  padding-left: 40px;
}
.address__item--mail::before {
  -webkit-mask-image: url("../img/sprite.svg#email");
  mask-image: url("../img/sprite.svg#email");
}
.address__item--phone::before {
  -webkit-mask-image: url("../img/sprite.svg#phone");
  mask-image: url("../img/sprite.svg#phone");
}
.address__item--schedule {
  margin-right: 27px;
  pointer-events: none;
}
.address__item--schedule::before {
  -webkit-mask-image: url("../img/sprite.svg#schedule");
  mask-image: url("../img/sprite.svg#schedule");
}
@media (max-width: calc(90em - 0.0625em)) {
  .address__item--schedule {
    margin-right: 0;
  }
}
.address__item--location {
  width: 100%;
  max-width: 185px;
}
.address__item--location::before {
  -webkit-mask-image: url("../img/sprite.svg#location");
  mask-image: url("../img/sprite.svg#location");
}
.address__link {
  font-size: calc(14px + 2 * ((100vw - 320px) / 1280));
  display: block;
  margin-bottom: 10px;
  -webkit-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
.address__link:hover {
  color: var(--color-blue);
}

.form .btn {
  width: 100%;
}
@media (max-width: calc(36em - 0.0625em)) {
  .form .btn {
    padding: 1.1875rem 3.75rem 1.125rem 3.75rem;
  }
  .form .btn::before {
    right: 20px;
  }
}
.form__box {
  position: relative;
  margin-bottom: 3.125rem;
}
.form__box input:focus + label {
  top: -10px;
  font-size: 14px;
}
.form__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  border: none;
  border-bottom: 1px solid var(--color-gray);
  padding: 8px;
  width: 100%;
  color: var(--color-gray);
  background-color: transparent;
  -webkit-transition: font-size 0.2s linear, top 0.2s linear;
  -o-transition: font-size 0.2s linear, top 0.2s linear;
  transition: font-size 0.2s linear, top 0.2s linear;
}
.form__label {
  position: absolute;
  left: 0;
  top: 0;
  color: var(--color-gray);
  -webkit-transition: font-size 0.2s linear, top 0.2s linear;
  -o-transition: font-size 0.2s linear, top 0.2s linear;
  transition: font-size 0.2s linear, top 0.2s linear;
}
.form__check {
  display: block;
  margin-bottom: 3.125rem;
}

.custom-checkbox {
  position: relative;
}
.custom-checkbox__field {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
.custom-checkbox__content {
  display: block;
  padding-left: 50px;
  width: 100%;
  max-width: 345px;
  font-size: 14px;
  cursor: pointer;
}
.custom-checkbox__content::before {
  content: "";
  position: absolute;
  left: 0;
  top: 12px;
  border: 1px solid var(--color-white);
  width: 20px;
  height: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.custom-checkbox__content::after {
  content: "";
  position: absolute;
  left: 0;
  top: 12px;
  -webkit-mask-image: url("../img/sprite.svg#check-mark");
  mask-image: url("../img/sprite.svg#check-mark");
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 12px 12px;
  mask-size: 12px 12px;
  width: 20px;
  height: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: var(--color-white);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid var(--color-blue);
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

.tabs {
  color: var(--color-white);
}
.tabs__nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[6];
  grid-template-columns: repeat(6, auto);
  margin-bottom: 4.375rem;
  gap: 15px;
}
.tabs__nav-btn {
  font-size: calc(14px + 2 * ((100vw - 320px) / 1280));
  border: 1px solid var(--color-white);
  padding: 1.125rem 2.8125rem;
  color: var(--color-white);
  -webkit-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}
@media (max-width: calc(90em - 0.0625em)) {
  .tabs__nav-btn {
    padding: 1.125rem 1.5625rem;
  }
}
.tabs__nav-btn--active {
  background-color: var(--color-active);
}
.tabs__nav-btn--active:focus {
  background-color: var(--color-active);
}
@media (max-width: calc(75em - 0.0625em)) {
  .tabs__nav {
    padding: 0.9375rem 0.9375rem;
    -ms-grid-columns: (auto)[3];
    grid-template-columns: repeat(3, auto);
  }
}
@media (max-width: calc(48em - 0.0625em)) {
  .tabs__nav {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}
.tabs__panel {
  display: none;
}
.tabs__panel--active {
  display: block;
}

.footer {
  padding: 4.375rem 0;
  background-color: var(--color-bunker);
}
@media (max-width: calc(62em - 0.0625em)) {
  .footer {
    padding: 3.125rem 0;
  }
}
.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 3rem;
}
.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: calc(62em - 0.0625em)) {
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 25px;
    text-align: center;
  }
}
.footer__bottom-link {
  position: relative;
  line-height: 1.7;
  -webkit-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
.footer__bottom-link::before {
  content: "";
  position: absolute;
  bottom: 5px;
  width: 100%;
  height: 1px;
  background-color: var(--color-white);
  -webkit-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}
.footer__bottom-link:hover {
  color: var(--color-blue);
}
.footer__bottom-link:hover::before {
  background-color: var(--color-blue);
}

.footer-develop__link {
  line-height: 1.7;
  position: relative;
  -webkit-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
.footer-develop__link::before {
  content: "";
  position: absolute;
  bottom: 1px;
  width: 100%;
  height: 1px;
  background-color: var(--color-white);
  -webkit-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}
.footer-develop__link:hover {
  color: var(--color-blue);
}
.footer-develop__link:hover::before {
  background-color: var(--color-blue);
}

.graph-modal__container {
  background-color: var(--color-black);
  padding: 4.375rem 12.5rem;
}
@media (max-width: calc(62em - 0.0625em)) {
  .graph-modal__container {
    padding: 3.125rem 9.375rem;
  }
}
@media (max-width: calc(48em - 0.0625em)) {
  .graph-modal__container {
    padding: 3.125rem;
  }
}
@media (max-width: calc(48em - 0.0625em)) {
  .graph-modal__container {
    padding: 1.25rem;
  }
}
.graph-modal__title {
  font-size: calc(25px + 15 * ((100vw - 320px) / 1280));
  margin: 0 auto 4.375rem;
  font-weight: 900;
  line-height: 1.7;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  width: 100%;
  max-width: 485px;
}
.graph-modal__close {
  right: 30px;
  top: 30px;
  width: 25px;
  height: 25px;
  background-image: url("../img/sprite.svg#close");
}
/*# sourceMappingURL=main.css.map */