.stages {
  padding-bottom: rem(190);

  &__title {
    width: 100%;
    max-width: 685px;
  }

  &__list {
    counter-reset: li;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
  }

  &__item {
    position: relative;
    border: 1px solid var(--color-white);
    padding: 30px 30px 35px;
    transition-property: box-shadow, border;
    transition-duration: 0.3s;
    transition-timing-function: linear;

    &::before {
      counter-increment: li;
      content: counter(li, decimal-leading-zero);
      font-weight: 900;
      font-size: 100px;
      line-height: 1;
      letter-spacing: 0.07em;
      text-transform: uppercase;
      color: var(--color-blue);
    }

    &:hover {
      border: 1px solid var(--color-active);
      box-shadow: 12px 12px 25px var(--color-active) inset;
    }
  }

  &__numbers {
    display: inline-block;
    margin-bottom: rem(34);
    font-weight: 900;
    font-size: 80px;
    line-height: 1;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: var(--color-blue);
  }

  &__link {
    text-decoration: underline;
  }
}
